{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <script src="https://cdn.tiny.cloud/1/seh5987t0k8e81pj204tj52xt6gyivbxb7fz5ckmb3e6cr9h/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            tinymce.init({
                selector: 'textarea#id_content', 
                plugins: 'advlist autolink lists link image charmap print preview anchor media',
                toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright | bullist numlist outdent indent | removeformat | link image',
                height: 300
            });
        });
    </script>
    <link rel="stylesheet" href="{% static 'css/create-blog.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">
                <li><a href="/create-blog">+ New Blog </a></li>
                <li><a href="/accounts/logout/">LOGOUT</a></li>
        </ul>
    </nav>
    <h1>Create a New Post</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
