{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Blog</title>
    <link rel="stylesheet" href="{% static 'css/create-blog.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul class="nav-list">
                <li><a href="/accounts/logout/">LOGOUT</a></li>
        </ul>
    </nav>
    <h1>Create a New Blog</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
